.jm-footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: $color-background-bar
  display: flex
 .item
  flex: 1
  text-align: center
  i
    display: inline-block
    font-size: $font-size-large-x
    margin: 6px 0 4px 0
  p
   font-size: $font-size-small
   margin: 0 0 6px 0
  &.router-link-active
    i
      color: $color-theme
    p
      color: $color-theme  