.topBar
  position: relative
  height: 48px
  background: $color-theme
  display: flex
.scan
  flex: 0 0 20px
  font-size: 22px
  color: #fff
  margin: 12px 10px 0 10px
.search
  position: relative
  background: #fff
  border-radius: 5px
  height: 30px
  flex: 1
  margin: 8px 0
  .icon-search
    position: absolute
    top: 5px
    left: 7px 
    display: block
    font-size: $font-size-large
    color: $color-text
.message
  flex: 0 0 20px
  font-size: 22px
  color: #fff
  margin:  12px 10px 0 10px
