@font-face {
  font-family: 'tb-icon';
  src:  url('../fonts/tb-icon.eot?fhxalk');
  src:  url('../fonts/tb-icon.eot?fhxalk#iefix') format('embedded-opentype'),
    url('../fonts/tb-icon.ttf?fhxalk') format('truetype'),
    url('../fonts/tb-icon.woff?fhxalk') format('woff'),
    url('../fonts/tb-icon.svg?fhxalk#tb-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change .. */
  font-family: 'tb-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-1:before {
  content: "\e900";
}
.icon-add-2:before {
  content: "\e901";
}
.icon-arrow-bottom-1:before {
  content: "\e902";
}
.icon-arrow-bottom-fill:before {
  content: "\e903";
}
.icon-arrow-buttom:before {
  content: "\e904";
}
.icon-arrow-left-fill:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right-1:before {
  content: "\e907";
}
.icon-arrow-right-fill:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-top-1:before {
  content: "\e90a";
}
.icon-arrow-top-fill:before {
  content: "\e90b";
}
.icon-arrow-top:before {
  content: "\e90c";
}
.icon-arrow:before {
  content: "\e90d";
}
.icon-back:before {
  content: "\e90e";
}
.icon-baojian:before {
  content: "\e90f";
}
.icon-Camera:before {
  content: "\e910";
}
.icon-Camera2:before {
  content: "\e911";
}
.icon-cart-fill:before {
  content: "\e912";
}
.icon-cart:before {
  content: "\e913";
}
.icon-cellect-1-fill:before {
  content: "\e914";
}
.icon-cellect-1:before {
  content: "\e915";
}
.icon-chakan-2:before {
  content: "\e916";
}
.icon-chakan:before {
  content: "\e917";
}
.icon-daifahuo:before {
  content: "\e918";
}
.icon-daifukuan:before {
  content: "\e919";
}
.icon-daishouhuo:before {
  content: "\e91a";
}
.icon-delete-2:before {
  content: "\e91b";
}
.icon-delete-3:before {
  content: "\e91c";
}
.icon-delete-5:before {
  content: "\e91d";
}
.icon-delete-6:before {
  content: "\e91e";
}
.icon-delete:before {
  content: "\e91f";
}
.icon-edit-1:before {
  content: "\e920";
}
.icon-edit-2:before {
  content: "\e921";
}
.icon-erweima:before {
  content: "\e922";
}
.icon-fushi:before {
  content: "\e923";
}
.icon-gotop-1:before {
  content: "\e924";
}
.icon-gotop-2:before {
  content: "\e925";
}
.icon-help:before {
  content: "\e926";
}
.icon-home:before {
  content: "\e927";
}
.icon-home2:before {
  content: "\e928";
}
.icon-huwai:before {
  content: "\e929";
}
.icon-label-1:before {
  content: "\e92a";
}
.icon-link:before {
  content: "\e92b";
}
.icon-meizhuang:before {
  content: "\e92c";
}
.icon-Message:before {
  content: "\e92d";
}
.icon-mine-1:before {
  content: "\e92e";
}
.icon-mine:before {
  content: "\e92f";
}
.icon-mine2:before {
  content: "\e930";
}
.icon-minus:before {
  content: "\e931";
}
.icon-money:before {
  content: "\e932";
}
.icon-more-fill:before {
  content: "\e933";
}
.icon-more:before {
  content: "\e934";
}
.icon-muying:before {
  content: "\e935";
}
.icon-new:before {
  content: "\e936";
}
.icon-nochoose:before {
  content: "\e937";
}
.icon-order-1:before {
  content: "\e938";
}
.icon-order-2:before {
  content: "\e939";
}
.icon-pengyouquan:before {
  content: "\e93a";
}
.icon-pwd:before {
  content: "\e93b";
}
.icon-redpacket-1:before {
  content: "\e93c";
}
.icon-refresh-1:before {
  content: "\e93d";
}
.icon-refresh-2:before {
  content: "\e93e";
}
.icon-refresh:before {
  content: "\e93f";
}
.icon-refund:before {
  content: "\e940";
}
.icon-remind:before {
  content: "\e941";
}
.icon-right-1:before {
  content: "\e942";
}
.icon-right-2:before {
  content: "\e943";
}
.icon-sale:before {
  content: "\e944";
}
.icon-saoyisao:before {
  content: "\e945";
}
.icon-search-1:before {
  content: "\e946";
}
.icon-search-2:before {
  content: "\e947";
}
.icon-search:before {
  content: "\e948";
}
.icon-setting:before {
  content: "\e949";
}
.icon-share:before {
  content: "\e94a";
}
.icon-shop-fill:before {
  content: "\e94b";
}
.icon-shop:before {
  content: "\e94c";
}
.icon-shuma:before {
  content: "\e94d";
}
.icon-sina:before {
  content: "\e94e";
}
.icon-slot:before {
  content: "\e94f";
}
.icon-Tabulation:before {
  content: "\e950";
}
.icon-tel:before {
  content: "\e951";
}
.icon-triangle-bottom:before {
  content: "\e952";
}
.icon-triangle-left:before {
  content: "\e953";
}
.icon-triangle-right:before {
  content: "\e954";
}
.icon-triangle-top:before {
  content: "\e955";
}
.icon-wechat:before {
  content: "\e956";
}
.icon-xiebao:before {
  content: "\e957";
}
.icon-zan-1:before {
  content: "\e958";
}
.icon-zan:before {
  content: "\e959";
}
